header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #003BE5;
  padding: 12px;
}

.logo {
  margin-right: 230px;
}

.header-elements-container {
  color: #fff;
  display: flex;
  align-self: center;
  margin-right: 35px;
}

.search-input {
  width: 95%;
}
