h2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
  text-align: center;
  margin: 15px;
}

.line {
  width: 650px;
  align-self: center;
}

.shoppin-cart-card {
  /* border: 1px solid red; */
  width: 80%;
  align-self: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.shoppin-cart-item {
  display: flex;
}

.delete-btn {
  height: 37px;
  align-self: center;
  margin: 10px;
}

.item-image {
  margin: 15px;
}

.item-name {
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  width: 30%;
  height: 70px;
  align-self: center;
}

.update-quantity-container {
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 15%;
  align-self: center;
  margin: 25px;
}

.item-price {
  align-self: center;
  margin: 25px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}